@page
@model Azure1.Pages.contactModel
@{
    ViewData["Title"] = "contact";
    Layout = null;
}
<html>
<head>
    <style>
        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>AZURE1.DEV</h1>

    <h3>Contact</h3>
    Mark Richard Harrison

    <hr />
    <a href="/index" target="_blank">Home</a>




</body>

</html>
